.counters-main-container {
  background-color: #f5edbe;
  padding: 10px 30px;
  width: fit-content;
  border: #a7998e solid 2px;
  border-radius: 10px;
  margin: 10px 10px;
}

.cards-main-container {
  background-color: lightgray;
  padding: 10px 30px;
  width: fit-content;
  border: darkgray solid 2px;
  border-radius: 10px;
  margin: 10px 10px;
  position: fixed;
  top: 0;
  right: 0;
}

.card-container {
  background-color: antiquewhite;
  padding: 10px 30px;
  width: fit-content;
  border: #9f9f9f solid 2px;
  border-radius: 10px;
  margin: 10px 0;
}

.tag-list-container {
  background-color: lightgreen;
  padding: 10px 30px;
  height: 120px;
  border: #9f9f9f solid 2px;
  border-radius: 10px;
  margin: 10px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

#number-label {
  width: 120px;
}

.my-btn {
  margin: 5px;
}
